html, body{
    height: 100%;
    margin: 0;
}

body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: url("images/Background.png");
    background-size: cover;
    background-position: center;
    animation: backgroundFloat 10s ease-in-out infinite;
}

@keyframes backgroundFloat {
    0%, 100% {
        background-size: 100% auto;
        background-position: center center;
    }

    50% {
        background-size: 105% auto;
        background-position: center 52%;
    }
}

#gameScreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FFD166;

    cursor: pointer;
    user-select: none;

    text-shadow:
        -3px -3px 0 #7C2D12,
         3px -3px 0 #7C2D12,
        -3px  3px 0 #7C2D12,
         3px  3px 0 #7C2D12;
}

#timer{
    font-size:7rem;
    font-weight:bold;

    text-shadow:
        -5px -5px 0 #7C2D12,
         5px -5px 0 #7C2D12,
        -5px  5px 0 #7C2D12,
         5px  5px 0 #7C2D12,
         0px 5px 10px rgba(124,45,18,0.5);
}

#clickCounter,
.mt-3{
    text-shadow:
        2px 2px 0 #7C2D12,
        0 0 8px rgba(255,209,102,0.5);
}