html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #7C2D12;
}

#homepageCarousel {
    margin-bottom: 40px;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.card {
    border-radius: 15px;
    overflow: hidden;
}

.btn-primary {
    background-color: #2563EB;
    border-color: #2563EB;
}

.btn-primary:hover {
    background-color: #38BDF8;
    border-color: #38BDF8;
}

footer {
    background-color: rgba(255,255,255,0.9) !important;
}

.custom-nav {
    background-color: rgba(255,255,255,0.85);
    backdrop-filter: blur(10px);
}

.custom-footer {
    background-color: rgba(255,255,255,0.85);
    backdrop-filter: blur(10px);
}