html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #8B2E00;
    color: #FDBA74;
}

.custom-nav {
    background-color: #C2410C;
    backdrop-filter: blur(10px);
}

.navbar-brand {
    color: #FDBA74 !important;
}

.navbar-brand:hover {
    color: #FB923C !important;
}

#homepageCarousel {
    margin-bottom:40px;
}

.carousel-item img {
    height:500px;
    object-fit:cover;
}

.carousel-caption {
    text-shadow:
        2px 2px 0 #8B2E00;
}

.carousel-caption h2 {
    color:#FDBA74;
}

.carousel-caption p {
    color:white;
}

main h2 {
    color:#FDBA74;
    text-shadow: 2px 2px 0 #8B2E00;
}

main p {
    color:white;
}

.cursor-card {
    background-color:#C2410C;
    border:none;
    border-radius:15px;
    overflow:hidden;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.cursor-card:hover {
    transform:translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}

.card-img-top {
    height:250px;
    object-fit:cover;
}

.card-body {
    color:#FDBA74;
}

.card-title {
    color:#FDBA74;
    text-shadow: 2px 2px 0 #7C2D12;

}

.card-text {
    color:white;
}

.btn-orange {
    background-color:#F97316;
    border-color:#F97316;
    color:white;
    font-weight:bold;
}

.btn-orange:hover {
    background-color:#FB923C;
    border-color:#FB923C;
    color:#7C2D12;
}

.custom-footer {
    background-color: #C2410C;
    backdrop-filter:blur(10px);
    color:#FDBA74;
}

.custom-footer p {
    color:white;
}